<!doctype html>
<html lang="ca">
<head>
	<title>Error</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
	<div class="error">
		<h2>ERROR</h2>
		<p><%- e %></p>
	</div>
</body>
</html>